/matlab/circlefit.m
/matlab/ds.m
/.idea/DSA.iml
/matlab/license.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/matlab/plotcircle.m
/.idea/inspectionProfiles/profiles_settings.xml
/matlab/readme.txt
/matlab/rosenbrock.m
/matlab/speedreducer.m
/matlab/step2.m
/.idea/vcs.xml
/matlab/weierstrass.m
